.card:hover {
  transform: translateY(-5px);
}
.organic-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffd700; /* Yellow */
  color: #006400; /* Dark Green */
  padding: 5px 5px;
  border-radius: 5px;
}
.card-img-top {
  width: 100%;
  margin-top: -10%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.active img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: flex;
}
.row {
  margin: auto;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: #f8f9fa;
  color: #343a40;
}

.carousel-item img {
  height: 500px;
  object-fit: cover;
}
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card4-body {
  padding: 20px;
  background-color: #3bce3b1c;
}

.card4-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card4-text {
  color: #6c757d;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45a049;
}

footer {
  margin-top: 1%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
form {
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
}
form a{
  text-decoration: none;
  color: #117524;
  
}
h2 {
  margin-bottom: 15px;
 
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.radio-group label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  color: #333;
}
.radio-group input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.btn {
  padding: 15px;
}

.btn-primary {
  background-color: #4caf50;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #45a049;
}
footer {
  margin-top: 1%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: green !important;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
}
.nav-link.active,
.nav-link:hover {
  color: rgb(103, 233, 103) !important;
}
.nav-pills .nav-link {
  margin: 0 0.5rem;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
